.footer__wrap{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    text-align: center;
}

.footer__wrap p{
    margin: 36px 0px  0px 0px;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__links  p {
    font-weight: 700;
    font-size: 18px;
    color: var(--deep-black);
}
   

.foot__ico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot__ico img:not(:last-child) {
    padding-right: 2rem;
}

#copyright{
    font-weight: 700;
    font-size: 18px;
    color: var(--light-grey);
}


@media only screen and (max-width: 600px) {
    .footer__links {
        display: flex;
        flex-direction: column;
    }

    .footer__links  p {
        padding-right: 0 rem;
    }
}

@media only screen and (min-width: 600px) {
    .footer__links  p:not(:last-child) {
        padding-right: 2rem;
    } 


     .foot__ico img:not(:last-child) {
        padding-right: 2rem;
    }
}

/*
  const [videoData, setvideoData] = useState(0)

  useEffect(() => {
    fetch("https://api.themoviedb.org/3/movie/top_rated")
        .then(res => res.json())
        .then(data => setvideoData(data))
    }, [])

         <div>
          <pre>{JSON.stringify(videoData, null, 2)}</pre>
        </div> 
*/